body {
    background-image: url("https://media.discordapp.net/attachments/763413740540002346/781521581842890772/spillbaneUtenWS.png");
    background-size: cover;
    background-repeat: none;
}

#overskrift {
    align-content: center;
    text-align: center;
    margin-top: 10vh;
    font-size: 50px;
    font-family: "Monsterrat", sans-serif;
}

#healthtext {
    color: black;
}

#healthbar {
    position: fixed;
    right: 73%;
    top: 45vh;
}

#healthbarboss {
    position: fixed;
    left: 81%;
    top: 45vh;
}

#karakter {
    position: fixed;
    left: 18%;
    top: 57.7vh;
}
#boss {
    position: fixed;
    right: 3%;
    top: 50vh;
    height: 400px;
    width: 400px;

}

#combatlog {
    font-size: 20px;
    border: 5px solid black;   
    width: 300px;
    padding: 20px;
    margin: 40px;
    background-color: whitesmoke;
    opacity: 75%;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 190px;
    top: 40px;
}

#atkBtn {
    position: fixed;
    bottom: 100px;
    right: 45.6%;
    cursor: pointer;
    outline: none;
    border: none;
}

#atkBtn:active {
    transform: translateY(6px);
    opacity: 0.5;
}

.death {
    transform: translateY(15rem) rotateZ(45deg);
    transition: all 1.5s ease;
    opacity: 0;
}